*{
    margin-left:0;
    margin-right:0;
    margin-top: 0;
} 
body{
    font-family: 'Press Start 2P';
    background-color: #140420;
/* 
#FF7486 - rose pink
#FC0174 - neon pink
#C70554 - maroon
#310A3F - purple
#140420 - black
     */
}

main {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
   
    padding: 30px 0;
}


header {
    font-size: 18px;;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-text-stroke: 1px white;
    /* background: linear-gradient(-45deg, #140420 ,#5f0a87, #ff00b3 , #5f0a87, black); */
    animation: gradient 30s ease infinite;
    background-size: 500% 500%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.backpane{
    display: flex;
    gap: 10%;
    margin: 0 5em;
}

/* ---------------main grid and its cells ------------------ */
#grid {
    background: linear-gradient(0deg, #15084D ,#140420 ,#C70554,#140420,#5f0a87);
    border: 3px solid #C70554;
    border-radius: 8px;
    display: grid;
    width: 720px;
    height: 720px; 
    animation: gradient 5s ease infinite;
    background-size: auto;
    padding: 0;
}

.cell {
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    background-color: transparent;
}
/* --------cell border classes -------- */
.cell.noBorder{
    border: none;
}
.borderRight {
    border-right: 1px solid;
}
.borderBottom{
    border-bottom: 1px solid;
}
/* ---------------controls and its buttons -------------- */
.controls{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 250px;
    text-align: center;
    border: 5px solid #C70554;
    border-radius: 10px;
    padding: 0 35px;
}

button {
    color: white;
    font-size: 16px;
    width:13.5em;
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: 0.2em;
    padding: 0.7em 2em;
    border: 1px solid #ff00b3;
    border-radius: 8px;
}
.shadetint{
    display: flex;
    flex-direction: column;
}

.colorPickers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
}

input.grid-color, input.background, input.pen-color {

}

.enabled{
    box-shadow: 5px 10px #5f0a87;
}

footer{
    font-size: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    border-top: 5px solid #C70554;
    text-align: center;
    
}

.link-icon{
    width: 20px;
    height: 20px;
    padding-bottom: 10px;
}
  
